.titre {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(120deg, #FE2C55 30%, #25F4EE 60%, #FFFFFF 90%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 50px;
}


p {
  
  color: #883b92;
  text-align: center;
  padding-block-start: 0cqi;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


