.titre {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(120deg, #FE2C55 30%, #25F4EE 60%, #FFFFFF 90%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 50px;
}


.prmref {

text-align:center;
font-size: 17px;



}

input[type=range]::-webkit-slider-thumb {
  width: 8px;     
  height: 8px;    
  background: #00f;
  border-radius: 50%;
  cursor: pointer;
}